<?xml version="1.0" encoding="UTF-8"?>

<!--spring container, IOC-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--instantiation pool-->
    <bean id="numberGenerator" class="dev.codes.NumberGeneratorImpl"/>
    <bean id="game" class="dev.codes.GameImpl">
        <!-- constructor injection (ref name == bean id) -->
        <!-- <constructor-arg ref="numberGenerator"/> -->

        <!-- setter based injection -->
        <!-- name == field name -->
        <!-- ref == bean id -->
        <property name="numberGenerator" ref="numberGenerator"/>
    </bean>

    <!-- for using @ annotation -->
    <!-- need to include javax.annotation maven -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

</beans>